accelerate
codetiming
datasets>=4.0.0
dill
hydra-core
numpy
pandas
peft
pyarrow>=19.0.0
pybind11
pylatexenc
ray[default]>=2.47.1
torchdata
tensordict>=0.8.0,<=0.9.1,!=0.9.0,
transformers
wandb
tensorboard
mathruler
math_verify
timm
imageio
loguru
packaging>=20.0
dacite
qwen_vl_utils
scipy
fastapi
transformers<=4.51.3
math-verify
vllm==0.8.5.post1
